/* CSS Tampilan Tabel Staff */
.content-staff {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000;
  }
  
  .card-dashboard {
    display: flex;
    margin: 20px auto;
    max-width: 1200px;
    border: 1px solid #FF6900;
    font-size: 16px;
  }

.table-responsive {
  overflow-x: auto;
}


/* Search bar */
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

#myTable th, #myTable td {
  padding: 12px;
}
#myTable td {
  text-align: left;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr:hover {
  background-color: #f1f1f1;
}


#myTable table {
  background-color: #ffffff;
}

#myTable table, th, td {
  border: 1px solid #c3c3c3;
}

#myTable th {
  text-align: center;
}

td .action-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
} 

h2 {
  color: #787878;
  line-height: 1.5;
}

.filter {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}


#entries {
  border-radius: 5px;

}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end
}
.search-bar label {
  margin-right: 10px;
  margin-bottom: 5px;
}

.search-bar .form-control {
  height: 20px;
  max-width: 200px;
  flex: 1;
}



/* CSS Edit form Staff*/
.image-container {
  width: 500px;
  height: 250px;
  overflow: hidden;
  padding-bottom: 15px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .content-form img {
  width: 500px;
  height: 250px;
}

.content-form .img-style {
  padding-top: 10px;
  padding-bottom: 20px;
} */

.mb-3 label {
  font-weight: bold;
}
.content-form .testiReal p {
  background-color: #f3f1f1;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}


.edit-staff {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 900px;
  line-height: 1.8;
  padding: 15px 35px 15px 35px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.content-form h2 {
  text-align: center;
}

.action-buttons .btn {
  padding: 5px 10px;
  font-size: 14px;
}

.submit-button {
  text-align: end;
}

.content-staff .status-button {
  width: 120px;
  height: 50px;
  border: 1px solid #000;
}

.content-staff .kadaluarsa,
.content-staff .berlaku{
  margin-left: -100px;
}

.content-staff .status {
  margin-left: -250px;
}

.content-staff .kadaluarsa{
  background-color: #d71e1e;
  height: 25px;
  width: 15px;
  border-radius: 3px;
}

.content-staff .berlaku{
  background-color: #0557da;
  height: 25px;
  width: 15px;
  border-radius: 3px;
}



/* Edit Form 2 Kolom */
.content-form2Column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-form2Column h2 {
  text-align: center;
}
.edit-2column {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  line-height: 1.8;
  padding: 15px 35px 15px 35px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.form-column-left {
  width: 46%;
  float: left;
}

.form-column-right {
  width: 46%;
  float: right;
}

@media (max-width: 768px) {
  .content-form2Column {
      flex-direction: column;
  }

  .form-column-left,
  .form-column-right {
      width: 100%;
      float: none;
  }
}



/* Kelola Pendaftaran */
#formPendaftaran {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.8;
  padding: 15px 35px 15px 35px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}



/* CSS STAFF DETAIL */
.content-show {
  max-width: 980px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}
.content-show h2 {
  text-align: center;
}
.show-user th {
  width: 170px;
}


/* Pagination */
.pagination-container {
  display: flex;
  justify-content: flex-end;
}
.ul-pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.ul-pagination li {
  margin-right: 5px;
}

.ul-pagination li:last-child {
  margin-right: 0;
}

.page-link {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
}

.page-link:hover {
  background-color: #f0f0f0;
}

.modal-title h1 {
  text-align: center;
}


/* USER SIDE */
.edit-user {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.8;
  padding: 15px 35px 15px 35px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}


/* CSS KelPembayaran */
/* Form2.blade.php */
.bg-nota {
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-nota {
    margin-left: 10%;
    margin-right: 10%;
}

.bg-nota .content-nota .edit-user h4 {
  text-align: center;
}

/* buktiPembayaran.blade.php */
.bg-bukti {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(224, 224, 224, 0.844)), url("/img/bg-pl.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: -120px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.bg-bukti .content-form {
  margin-top: 20px;
  padding: 0 50px 50px 50px;
  background-color: #efededc4;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (max-width: 480px) {

}


.content-nota h2,
.bg-nota .edit-user h4 {
  color: #000000;
  text-align: center;
}

.content-nota small {
  font-size: 15px;

}

.bg-nota .edit-user .metode-bayar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.bg-nota .edit-user .metode-bayar a,
.bg-nota .edit-user .metode-bayar button {
  width: 200px;
}

@media screen and (max-width: 480px) {
  .bg-nota .edit-user {
    background-color: rgba(255, 255, 255, 0.641);
    max-width: 80%;
    padding: 15px 35px 15px 35px;
    border: 1px solid #00000075;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.433);

  }

  .bg-nota .edit-user .metode-bayar {
    margin-left: -15px;
    padding: 10px 0;
  }

  .bg-nota .edit-user .metode-bayar a,
  .bg-nota .edit-user .metode-bayar button {
    width: 100%;
  }
}