* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.content {
  padding-top: 50px;
}
/* Style Dashbord Super Admin */
.content-staff {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000;
  }
  
  .card-dashboard {
    display: flex;
    margin: 20px auto;
    max-width: 1200px;
    border: 1px solid #FF6900;
    font-size: 16px;
  }




/* Kelola User */

/* new */
.table-responsive {
  overflow-x: auto; 
  /* background-color: #ffffff; */
  /* NEW */
  /* max-width: 90%;
  margin: 0 auto; */
}




/* Search bar */
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  /* font-size: 18px; */
}

#myTable th, #myTable td {
  padding: 12px;
}
#myTable td {
  text-align: left;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr:hover {
  background-color: #f1f1f1;
}

/* end new */

#myTable table {
  background-color: #ffffff;
}

#myTable table, th, td {
  border: 1px solid #c3c3c3;
}

#myTable th {
  text-align: center;
}

td .action-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
} 

h2 {
  color: #787878;
  line-height: 2.5;
}

.filter {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}


#entries {
  border-radius: 5px;

}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end
}
.search-bar label {
  margin-right: 10px;
  margin-bottom: 5px;
}

.search-bar .form-control {
  height: 20px;
  max-width: 200px;
  flex: 1;
}



/* EDIT FORM */
.mb-3 label {
  font-weight: bold;
}
.mb-3 p {
  background-color: #f3f1f1;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}

.edit-user {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.8;
  padding: 15px 35px 15px 35px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

/* .content-staff h2 {
  text-align: center;
} */
.content-form h2 {
  text-align: center;
}

.action-buttons .btn {
  padding: 5px 10px;
  font-size: 14px;
}

.submit-button {
  text-align: end;
}

/* Edit Form 2 Kolom */
.content-form2Column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-form2Column h2 {
  text-align: center;
}
.edit-2column {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  /* max-width: 600px; */
  line-height: 1.8;
  padding: 15px 35px 15px 35px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.form-column-left {
  width: 46%;
  float: left;
}

.form-column-right {
  width: 46%;
  float: right;
}

@media (max-width: 768px) {
  .content-form2Column {
      flex-direction: column;
  }

  .form-column-left,
  .form-column-right {
      width: 100%;
      float: none;
  }
}



/* Kelola Pendaftaran */
#formPendaftaran {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.8;
  padding: 15px 35px 15px 35px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.content-show {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}
.content-show h2 {
  text-align: center;
}
.show-user th {
  width: 170px;
}






/* Pagination */
.pagination-container {
  display: flex;
  justify-content: flex-end;
}
.ul-pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.ul-pagination li {
  margin-right: 5px; /* Atur jarak antara setiap item pagination */
}

.ul-pagination li:last-child {
  margin-right: 0; /* Hapus margin kanan pada item terakhir */
}

.page-link {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
}

.page-link:hover {
  background-color: #f0f0f0;
}

.modal-title h1 {
  text-align: center;
}



/* NOTA PEMBAYARAN */
.content-nota {
    margin-left: 10%;
    margin-right: 10%;
}
.content .bg-nota,
.content .bg-bukti {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(224, 224, 224, 0.844)), url("/img/bg-pl.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: -120px;
  padding-bottom: 50px;
  padding-top: 50px;
  
}

.content-nota h2,
.bg-nota .edit-user h2 {
  color: #000000;
  text-align: center;
}

.content-nota small {
  font-size: 15px;

}

.content .bg-nota .edit-user .metode-bayar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Menyusun item secara vertikal di tengah */
  gap: 20px; /* Jarak antara tombol dan teks */
}


/* Bukti Pembayaran Diklat */

.content .bg-bukti .content-form {
  margin-top: 20px;
  padding: 0 50px 50px 50px;
  background-color: #fff5f5c4;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}




/* PERMOHONAN */
.content-mohon {
  margin-left: 10%;
  margin-right: 10%;
}


.content .bg-nota .content-mohon {
  background-color: #ffffffc2;
  border: 1px solid #FF6900;
  padding: 20px;
  /* padding-right: 30px; */
  border-radius: 10px;
}

.btn-mohon {
  text-align: right;
}


