.animasi1{
    opacity: 0;
    transform: translateY(40px);
    animation: moveup 0.7s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.plane img {
    max-width: 35px;
    margin-left: 140px;
    animation: plane 7s linear infinite;
}
.plane {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    margin-left: 0px;
}

@keyframes plane
{
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.plane img:nth-child(1) {
    animation-delay: 2s;
}
.plane img:nth-child(2) {
    animation-delay: 1s;
}
.plane img:nth-child(3) {
    animation-delay: 3s;
}
.plane img:nth-child(4) {
    animation-delay: 4.5s;
}
.plane img:nth-child(5) {
    animation-delay: 3s;
}
.plane img:nth-child(6) {
    animation-delay: 6s;
}
.plane img:nth-child(7) {
    animation-delay: 7s;
}


.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}
.landThree {
    /* background-color: white; */
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/img/bg-one.png");
    background-position: bottom;
}
.landFour {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/img/bg-two.jpg");
    background-position: top;
}
.bg-testi {
    /* background-color: rgba(255, 145, 85, 0.547); */
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/img/bg-three.jpeg");
    background-position: center;
}
.landSix {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/img/bg-four.jpg");
    background-position: top;
}