* {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Sidebar
 */


#sidebarMenu {
  background-color: #053666;
  /* flex-grow: 1;
  color: #fff;
  transition: all 0.3s ease; */
  position: fixed;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #FF6900; 
}

.nav-link.active {
  color: #e09539;
}

/* @media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
} */

#sidebar-sticky {
  position: relative;
  top: 0;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; 
  height: 100vh;
}



/* NEW */
/* Header */
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;

  /* NEW */
  overflow-x: hidden;
  overflow-y: auto; 
}

.navbar-toggler {
  display: none;
}

@media (max-width: 767.98px) {
  .navbar-toggler {
    display: block;
  }
}
/* END NEW */



/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

/* .navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
} */

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}





/* Dashboard Super Admin */
body {
  background-color: #ebe9e9;
}

.container-admin {
  width: 100%;
  display: flex;

}

.dashAdmin {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* background-color: #ffffff; */
  }


.dashItem {
  margin: 20px 10px 0 10px;
  padding: 5px 40px 5px 15px;
  border-radius: 10px;
  width: calc(33.33% - 20px);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
}

.dashItem::after {
  content: '';
  position: absolute;
  top: 30px;
  bottom: 30px;
  width: 2px;
  background-color: #a5a5a5;
  left: calc(75% - 1px);
}

.dashItemContent {
  font-size: 15px;
  flex: 1;
  padding: 5px 60px 5px 15px;
}

.dashItemNumber {
  font-size: 40px;
  font-weight: bold;
}