.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Sidebar
 */
.navbar {
  height: 50px;
}

 #sidebarMenu {
  background-color: #3e3c3c;
  position: fixed;

  /* NEW */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  top: 50px;
  transition: 0.3s;
  padding-bottom: 50px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #FF6900; 
}

.nav-link.active {
  color: #e09539;
}

#sidebar-sticky {
  position: relative;
  top: 0;
  padding-top: .5rem;

}


header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; 
}

/* .navbar-toggler {
  display: none;
} */

@media screen and (max-width: 767.98px) {
  .navbar-toggler {
    display: block;
  }
  
  #sidebarMenu {
    display: none;
  }

  #sidebarMenu.show {
    display: block;
  }
}

@media screen and (max-width: 767.98px) {
  .col-md-9, .col-lg-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}




/* NEW */
/* #sidebarMenu {
  background-color: #053666;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 1050; 
  transform: translateX(-250px);
}

#sidebarMenu.show {
  transform: translateX(0);
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #FF6900;
}

.nav-link.active {
  color: #e09539;
}

#sidebar-sticky {
  position: relative;
  top: 0;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}


@media (max-width: 500px) {
  .navbar-toggler {
    display: block;
  }
}

.main-content {
  transition: margin-left 0.3s ease;
  margin-left: 0; 
}

.main-content.shifted {
  margin-left: 250px; 
} */


/* END NEW */


/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}


.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}



/* Dashboard Super Admin */
body {
  background-color: #ebe9e9;
}

.container-admin {
  width: 100%;
  display: flex;
  justify-content: center;
}


.inner p {
  padding-right: 50px;
  font-size: 16px;
}

.icon i {
  margin-top: -20px;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-lg-3,
.col-6 {
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  margin: 10px;
}

.small-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
}

.small-box .inner {
  flex-grow: 1;
  padding-top: 10px;
  padding-left: 20px;
}

.small-box-footer {
  text-align: center;
}

/* @media screen and (max-width: 1024px) {
  .dashItem {
    flex: 1 1 calc(50% - 40px);
  }
}

@media screen and (max-width: 768px) {
  .dashItem {
    flex: 1 1 calc(100% - 40px);
  }
} */
