.bg-edit {
    padding-bottom: 50px;
    padding-top: 50px;
}

.content-editProfil {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-editProfil h2 {
    text-align: center;
}

.content-editProfil .submit-button {
    text-align: right;
}
  
.edit-profil {
    background-color: rgba(255, 255, 255, 0.69);
    margin: 0 auto;
    line-height: 1.8;
    padding: 15px 35px 15px 35px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    width: 80%;
}

.left-profil {
    width: 46%;
    float: left;
}

.right-profil {
    width: 46%;
    float: right;
}

.btn-editProfil {
    margin-top: 10px; 
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-editProfil button {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}


.btn-mohon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px; 
    margin-bottom: 15px;
}
.btn-mohon-wrapper .btn-mohon {
    text-align: center;
}


@media (max-width: 768px) {
    .content-editProfil {
        flex-direction: column;
    }
  
    .left-profil,
    .right-profil {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 480px) {
    .edit-profil {
        background-color: rgba(255, 255, 255, 0.252);
        border: 1px solid #000000;
        box-shadow: 0px 4px 12px rgba(1, 1, 1, 0.375);
        margin: 0 auto;
        line-height: 1.8;
        padding: 15px 35px 15px 35px;
        width: 90%;
    }
}


/* EDIT FORM PENDAFTARAN */
.btn-editUser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-editUser button {
    padding-left: 20px;
    padding-right: 20px;
}

/* EDIT FORM TESTIMONI */
.edit-testi {
    background-color: rgba(255, 255, 255, 0.69);
    margin: 0 auto;
    line-height: 1.8;
    padding: 15px 35px 15px 35px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    width: 50%;
}

@media screen and (max-width: 480px) {
    .edit-testi {
        width: 90%;
    }
}