* {
    font-size: 15px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
    height: 100%;
    max-width: 100%;
}

.content-bodyForm {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;   
}

.content-bodyForm h1 {
    color: #FF6900;
}