.landing {
    padding-bottom: 50px;
    
}

.landOne {
    background: rgb(242, 141, 34);
    background: linear-gradient(0deg, rgba(255, 150, 59, 0.101) 0%, rgba(255, 150, 59, 0) 0%, rgba(255, 151, 59, 0.796) 60%, rgb(248, 100, 20) 100%, rgb(248, 100, 20) 100%, rgb(248, 100, 20) 100%);
    height: 610px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    flex: 0 0 auto;
}

.landOne h1 {
    padding-top: 0;
    width: 50%;
    font-style: oblique;
    text-align: center;
    color: #fff;

}

.landOne img {
    padding-top: 0;
    width: 55%;
    height: auto;
    
}

.landOne a {
    padding: 6px 12px;
    font-size: 18px;
    font-style: normal;
    background-color: rgb(0,27,180);
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: none;
    border-radius: 10px;
    animation-delay: 0.5s;
}

.landOne a:hover {
    color: #fff;
    box-shadow: 0 0 10px rgb(162, 163, 163);
}

/* Layar 0-480px */
@media screen and (max-width: 480px) {
    .landOne {
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
    }
    
    .landOne h1 {
        padding-top: 0;
        width: 50%;
        font-size: 17px;
    
    }
    
    .landOne img {
        padding-top: 0;
        width: 50%;
        height: auto;
        
    }
    .landOne a {
        margin-top: 5px;
        padding: 4px 8px;
        font-size: 14px;
    }
}

/* Layar untuk 481px - 900px */
@media screen and (min-width: 481px) and (max-width: 900px) {
    .landOne {
        padding-left: 30px;
        padding-right: 30px;
        height: auto;
        max-height: 350px;
    }
    
    .landOne h1 {
        padding-top: 0;
        width: 50%;
        font-size: 33px;
    
    }
    
    .landOne img {
        padding-top: 0;
        width: 50%;
        height: auto;
        
    }
    .landOne a {
        margin-top: 5px;
        padding: 6px 12px;
        font-size: 20px;
    }
}

/* LAND FOR CONTENT */

/* LAND TWO */
.landTwo {
    background: rgb(255,255,255);
    height: 400px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    gap: 5px;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.card-animasi {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 18px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 15px solid rgb(248, 100, 20);
    animation-delay: 1.5s;
}

.card-animasi i{
    color: rgb(248, 100, 20);
    font-size: 2.5em;
    text-align: center;
  
}
.fa-users,
.fa-user-plus,
.num-animasi,
.text-animasi,
.fa-user-graduate,
.fa-book {
    animation-delay: 1.5s;
}

span.num-animasi {
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}

span.text-animasi {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
}

/* Layar untuk 481px - 900px */
@media screen and (min-width: 481px) and (max-width: 900px) {
    .landTwo{
        width: 100%;
        flex-wrap: wrap;
        gap: 7px;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 70px;
        height: auto;
        /* max-height: 300px; */
    }
  
    .card-animasi {
      width: 20%;
      height: 20vmin;
      font-size: 16px;
      /* padding-bottom: 10px; */
      border-bottom: 10px solid rgb(248, 100, 20);
      
    }
    span.text-animasi {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 480px) {
    .landTwo{
        width: 100%;
        flex-wrap: wrap;
        gap: 7px;
        padding-left: 30px;
        padding-right: 30px;
    }
  
    .card-animasi {
      width: 35%;
      height: 35vmin;
      font-size: 15px;
      padding-bottom: 5px;
      border-bottom: 10px solid rgb(248, 100, 20);
      
    }
    .card-animasi i{
        font-size: 1.5em;
    }
    
    span.num-animasi {
        font-size: 1.4em;
    }
    span.text-animasi {
        font-size: 0.7em;
    }
}


/* LAND THREE - PROMO */
h3, p {
    animation-delay: 2s;
}
.img-promo {
    animation-delay: 2s;
}
.landThree {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 650px;
    /* height: auto; */

}
.promo-land {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    padding-bottom: 20px;
}

.img-promo img {
    height: 400px;
    padding-top: 30px;
}

/* Layar untuk 481px - 900px */
@media screen and (min-width: 481px) and (max-width: 900px) {
    .landThree {
        height: auto;
        padding-bottom: 50px;
    }
    .promo-land {
        /* margin-left: 10%;
        margin-right: 10%;
        max-width: 80%; */
        padding-bottom: 10px;
        
    }
    /* .promo-land h3 {
        padding-top: 30px;
    } */
    
    .img-promo img {
        height: 400px;
        padding-top: 0;
    }
}

@media screen and (max-width: 480px) {
    .landThree {
        height: auto;
        padding-bottom: 30px;
    }
    .promo-land {
        /* margin-left: 10%;
        margin-right: 10%;
        max-width: 80%; */
        padding-bottom: 10px;
        
    }
    /* .promo-land h3 {
        padding-top: 30px;
    } */
    
    .img-promo img {
        height: 200px;
        padding-top: 0;
    }
}


/* LAND FOUR - KATEGORI DIKLAT */



/* LAND Five - TESTIMONI */

/* LAND Six - FAQ */
h3, p {
    animation-delay: 4s;
}

.accordion-item {
    animation-delay: 4s;
}

.landSix {
    width: 100%;
    background-color: #ffffff;
}

.faq-land {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    padding-top: 70px;
    /* border: 1px solid #000; */
}

.bg-acc {
    padding: 15px;
    background-color: #ffffffb2;
    border-radius: 10px;
    border: 2px solid #b3b3b3;
}

@media screen and (max-width: 900px){
    .landSix {
        height: auto;
    }
    .faq-land {
        padding-top: 0;
    }
}

/* BUTTON UNTUK BACK TO TOP */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(0,27,180);
    color: white;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: #FFC784;
}

#myBtn .bi {
    font-size: 20px;
}