.card-testi {
    display: flex;
    justify-content: space-between;
    background-color: #a5a09c1f;
    border-radius: 10px;
    padding: 5px 30px;
    position: relative;
}
.card-testi2 {
    background-color: #ffc1a090;
    border: 1px solid #FF6900;
    transition: 0.3s;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    flex: 1 1 calc(33.33% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card-testi2.placeholder {
    background: transparent;
    border: none;
}

.card-testi2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.8s;
}

.card-testi2 .card-testiContent b, 
.card-testi2 .card-testiContent p, 
.card-testi2 .card-testiContent q {
    text-align: center;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 10px;
}


.card-testiContent {
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-testiContent b {
    font-style: italic;
}


/* SLIDER */
.carousel-control-prev,
.carousel-control-next {
    width: 1%;
    position: absolute;
}

.carousel-control-prev {
    left: 0;
    margin-left: -70px;
}

.carousel-control-next {
    right: 0;
    margin-right: -70px;
}
