/* Untuk Navbar */
.container-land{
    padding-bottom: 50px;
}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.card-body img {
    width: 300px;
}

.img-promo img {
    height: 400px;
}
.carousel-inner {
    opacity: 1;
    pointer-events: none;
}

.card-body .animated-text {
    font-style: italic;
}



/* CSS Dibawah Slideshow */
/* .land-width {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
}

.content-land h3{
    color: #478DD7;
}

.content-land .land-width p {
    color: #FF6900;
} */


/* Style untuk icon kembali ke atas */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #FF6900;
    color: white;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #FFC784;
  }

  #myBtn .bi {
    font-size: 20px;
  }



  /* Style untuk FAQ */
/* .bg-acc {
    padding: 15px;
    background-color: #ffffffb2;
    border-radius: 10px;
} */


/* Style Video */
/* .card-contact {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 40.25%;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  } */




/* Bukti Pembayaran */
.tabelBukti {
    font-size: 30px;
}



/* KELOLA DIKLAT */
th {
    color: #007bff;   
}

.btn-lihat {
    background-color: #28a745;
}
.btn-edit {
    color: #ffc107;
}
.btn-hapus {
    color: #dc3545;
}
.btn-tambah {
    background-color: orange;
    color: white;
}

.table {
    background-color: #eee;
    border-color: #000000;
}