.landFour {
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}

h3, p {
    animation-delay: 2.5s;
}
.swiper-slide {
    animation-delay: 2.5s;
}

.kat-land {
    max-width: 1220px;
    width: 100%;
    padding-bottom: 10px;
}

.kat-land h3 {
    color: rgb(0,27,180);
}

.kat-land p {
    color: rgb(248, 100, 20);
}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #a2a2a2;
}

.card-content{
    padding-top: 30px;
    height: 180px;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: -5px;
}


.card-image{
    position: relative;
    height: 200px;
    width: 100%;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.name{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    flex-grow: 1;
}

.button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: rgb(0,27,180);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: #265DF2;
}

.swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 35px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070F4;
}


/* Layar untuk 481px - 900px */
@media screen and (min-width: 481px) and (max-width: 1056px) {
    .landFour {
        height: auto;
    }
    .slide-content{
        margin: 0 10px;
    }
    .card-image{
        height: auto;
        width: 100%;
    }
    
    .card-image .card-img{
        height: 200px;
        width: 100%;
        max-width: 500px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

@media screen and (max-width: 480px) {
    .landFour {
        height: auto;
        /* max-height: 500px; */
    }
    .slide-content{
        margin: 0 10px;
    }
    .card-image{
        height: auto;
        width: 100%;
    }
    
    .card-image .card-img{
        height: 200px;
        width: 100%;
        max-width: 500px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}