/* Dashboard Super Admin */
  .container-admin {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  
  .inner p {
    padding-right: 50px;
    font-size: 16px;
  }
  
  .icon i {
    margin-top: -20px;
  }
  
  .rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-lg-3,
  .col-6 {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    margin: 10px;
  }
  
  .small-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
  }
  
  .small-box .inner {
    flex-grow: 1;
    padding-top: 10px;
    padding-left: 20px;
  }
  
  .small-box-footer {
    text-align: center;
  }
  
/* Layar untuk 481px - 900px */
@media (min-width: 481px) and (max-width: 900px) {
  .col-lg-3,
  .col-6 {
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px); 
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .col-lg-3,
  .col-6 {
    width: 100%;
    margin: 10px;
    height: auto;
    max-width: 100%;
  }
  .inner p {
    padding-right: 0;
    font-size: 14px;
    text-align: left;
  }
  .small-box .inner {
    padding: 10px;
  }
}


.container {
  width: 100%;
  padding: 20px;
  margin: 20px auto;
}

.form-container {
  margin-bottom: 20px;
}

.form-container label {
  font-size: 16px;
  margin-right: 10px;
}

.form-container select {
  padding: 5px;
  font-size: 16px;
}

.chart-container {
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}