.container {
    display:inline;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.invoice-content {
    color: #086cb9;
}
.invoice-details {
    margin-bottom: 20px;
}

.invoice-details p {
    margin: 5px 0;
}

.buttons {
    text-align: right;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-warning {
    background-color: #ffc107;
}
